volumes:
  config:
  data:
  extra_addons:
  db_data:

services:
  init:
    image: odoo:19
    container_name: odoo-init
    command: odoo -d odoo -r odoo -w odoo --db_host db --stop-after-init -i web
    volumes:
      - config:/etc/odoo
      - data:/var/lib/odoo
      - extra_addons:/mnt/extra-addons
    depends:
      - db
  odoo:
    image: odoo:19
    container_name: odoo
    restart: unless-stopped
    depends_on:
      init:
        condition: service_completed_successfully
      db:
        condition: service_healthy
    environment:
      - USER=odoo
      - PASSWORD=odoo
      - HOST=db
    volumes:
      - config:/etc/odoo
      - data:/var/lib/odoo
      - extra_addons:/mnt/extra-addons
    ports:
      - "8069:8069"
      - "8071:8071"
      - "8072:8072"
  db:
    image: postgres:18-alpine
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: postgres
    volumes:
      - db_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 10s
      timeout: 5s
      retries: 5
    restart: unless-stopped
